[submodule "admin"]
	path = admin
	url = git@github.com:zishe/anydo-admin.git
[submodule "server"]
	path = server
	url = git@github.com:zishe/anydo-server.git
[submodule "client"]
	path = client
	url = git@github.com:zishe/anydo-client.git
